#bodyContent {
 border: 1px black dotted;
 display: flex;
 flex-direction: column;
 align-items: center;
 row-gap: 30px;
}

#gameNav {
 border: 1px black dotted;
 display: flex;
 flex-direction: row;
 column-gap: 20px;
 margin-top: 20px;
}

#gameNav button {
  width: 100px;
  height: 45px;
  font-weight: bold;
  font-size: 36px;
  border: none;
  border-bottom: 5px #928492 solid;
}

#gameNav button:hover {

} 

#gamePanel {
 border: 1px black dotted;
 width: 500px;
 height: 500px;
}
