#bodyContent {
 border: 1px black dotted;
 display: flex;
 flex-direction: column;
 align-items: center;
 row-gap: 30px;
}

#gameNav {
 border: 1px black dotted;
 display: flex;
 flex-direction: row;
 column-gap: 20px;
 margin-top: 20px;
}

#gameNav {
  width: 100px;
  height: 45px;
 font-weight: bold;
 font-size: 36px;
}

#gamePanel {
 border: 1px black dotted;
 width: 500px;
 height: 500px;
}
