#bodyContent {
 border: 1px black dotted;
 width: 30vw;
 display: flex;
 flex-direction: column;
 align-items: center;
}

#gameNav {
 border: 1px black dotted;
}

#gamePanel {
 border: 1px black dotted;
}
