/* https://coolors.co/444545-fe5f55-ffffff-62929e-a59132 */

html {
  background-color: #0d0d0d;
  display: flex;
  justify-content: center;
}

body {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
  height: 90vw;
  border-radius: 20px;
  box-shadow: 10px 10px 10px 10px;
  position: relative;
}

header {
 display: flex;
 flex-direction: column;
 align-items: center;
 border-bottom: #0d0d0d solid 5px;
 width: 90%;
 height: 125px;
}

#contentButtons {
 display: flex;
 flex-direction: column;
}

footer {
 position: absolute;
 bottom: 0px;
 display: flex;
 flex-direction: column;
 align-items: center;
 width: 100%;
 height: 75px;
 border-top: #0d0d0d solid 5px;
}

