/* https://coolors.co/444545-fe5f55-ffffff-62929e-a59132 */

html {
  background-color: #0d0d0d;
  display: flex;
  justify-content: center;
}

body {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
  border-radius: 20px;
  box-shadow: 10px 10px 10px 10px;
  position: relative;
}

header {

}

footer {
 position: absolute;
 bottom: 0px;
}
