/* https://coolors.co/b39c4d-768948-607744-34623f-1e2f23 */

html {
  background-color: #1e2f23;
  display: flex;
  justify-content: center;
  font-family: 'DM Sans'
}

body {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
  height: 90vw;
  border-radius: 20px;
  box-shadow: 10px 10px 10px 10px;
  position: relative;
}

my-header {
 display: flex;
 flex-direction: column;
 align-items: center;
 border-bottom: #b39c4d solid 5px;
 width: 80%;
 /* height: 125px; */
}

#navigationButtons {
 display: flex;
 flex-direction: row;
 gap: 7%;
}

#navigationButtons button {
 width: 100%;
 height: 35px;
 border-radius: 10px 10px 0px 0px;
 border-bottom: none;
}

#navigationButtons button, #contentButtons button { 
 transition: border-color 0.3s linear;
 color: #000000;
 background-color: #768948;
 border: #607744 solid 4px;
 font-family: 'DM Sans';
}

#navigationButtons button:hover, #contentButtons button:hover { 
 border-colour: #A9A9A9;
}

#contentButtons {
 display: flex;
 flex-direction: column;
 align-items: center;
 gap: 20px;
}

#contentButtons button {
 width: 300px;
 height: 100px;
 border-radius: 20px;
 font-size: 24px;
}

my-footer {
 position: absolute;
 bottom: 0px;
 display: flex;
 flex-direction: column;
 align-items: center;
 border-top: #b39c4d solid 5px;
 width: 80%;
 height: 75px;
}

