/* https://coolors.co/b39c4d-768948-607744-34623f-1e2f23 */

html {
  background-color: #0d0d0d;
  display: flex;
  justify-content: center;
}

body {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
  height: 90vw;
  border-radius: 20px;
  box-shadow: 10px 10px 10px 10px;
  position: relative;
}

my-header {
 display: flex;
 flex-direction: column;
 align-items: center;
 border-bottom: #0d0d0d solid 5px;
 width: 90%;
 /* height: 125px; */
}

#navigationButtons {
 display: flex;
 flex-direction: row;
 gap: 30px;
}

#navigationButtons button {
 width: 200px;
 height: 35px;
 border: #0d0d0d solid 4px;
 border-rasius: 10px 10px 0px 0px;
 border-bottom: none;
}

#contentButtons button, #contentButtons button { 
 transition: border-colour 0.3s linear;
}

#navigationButtons button:hover, #contentButtons button:hover { 
 border-colour: #A9A9A9;
}

#contentButtons {
 display: flex;
 flex-direction: column;
 align-items: center;
 gap: 20px;
}

#contentButtons button {
 width: 300px;
 height: 100px;
 border: #000 solid 6px;
 border-radius: 20px;
 font-size: 24px;
}

footer {
 position: absolute;
 bottom: 0px;
 display: flex;
 flex-direction: column;
 align-items: center;
 width: 100%;
 height: 75px;
 border-top: #0d0d0d solid 5px;
}

